USE [master]
GO
/****** Object:  StoredProcedure [dbo].[BRUTE_FORCE_DETECTION]    Script Date: 1.09.2019 23:28:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[BRUTE_FORCE_DETECTION]
AS

CREATE TABLE #LOG (LOGDATE DATETIME,PROCESSINFO VARCHAR(100),TEXT VARCHAR(MAX))
--TRUNCATE TABLE #LOG 
INSERT INTO #LOG  EXEC XP_READERRORLOG 
--CREATE TABLE #LOG (LOGDATE DATETIME,PROCESSINFO VARCHAR(100),TEXT VARCHAR(MAX))
--SELECT * FROM #LOG WHERE TEXT LIKE 'login failed%' AND LOGDATE>=DATEADD(MINUTE,-3,GETDATE())

DECLARE @IP AS VARCHAR(100) 
DECLARE @COUNT AS INT
DECLARE @BEGDATE AS DATETIME
DECLARE @ENDDATE AS DATETIME
DECLARE @TEXT AS VARCHAR(max)=''
DECLARE @MSG AS VARCHAR(1000)=''
 

 SELECT @COUNT=COUNT(*),@BEGDATE=MIN(LOGDATE),@ENDDATE=MAX(LOGDATE),@TEXT=TEXT
 FROM #LOG WHERE TEXT LIKE 'login failed%' AND LOGDATE>=DATEADD(MINUTE,-1,GETDATE())
 GROUP BY TEXT 
 HAVING COUNT(LOGDATE)>100


 DECLARE @SEQ AS INT

SELECT @SEQ=SEQ FROM MASTER.DBO.splitWithSeq(@TEXT,' ')
 where items ='[CLIENT:'

 SELECT @IP=items FROM MASTER.DBO.splitWithSeq(@TEXT,' ')
 where SEQ=@SEQ+1
 SET @IP=REPLACE(@IP,']','')
 
SET @MSG='Your system is under attack! A machine with ip '
SET @MSG=@MSG+@IP
SET @MSG=@MSG+' has tried '+CONVERT(VARCHAR,@COUNT)+' wrong password between '
SET @MSG=@MSG+CONVERT(VARCHAR,@BEGDATE,108)+' and '+ CONVERT(VARCHAR,@ENDDATE,108)
SELECT @MSG 

IF @COUNT>100
BEGIN
INSERT INTO AUDIT.DBO.BRUTE_FORCE_ATTACK ([COMPUTERIP], [DATE_], [BEGDATE], [ENDDATE], [COUNT_])
VALUES (@IP,GETDATE(),@BEGDATE,@ENDDATE,@COUNT)

EXEC msdb.dbo.sp_send_dbmail  
    @profile_name = 'SQLMAIL',  
    @recipients = 'sqlserver.secure@gmail.com',  
    @body = @msg ,  
    @subject = 'Brute Force Attack Detected' ;  
END  

DROP TABLE #LOG 